<ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
      <h5 class="{% if include.no_italic %}font-weight-bold{% else %}font-italic{% endif %}">{{ content.title }}</h5>
      {% if content.items %}
        <ul class="subitems">
          {% for subitem in content.items %}
            <li>
              <span class="subitem">
                {% if subitem.label %}
                  <strong class="subitem-label">{{ subitem.label }}</strong> {{ subitem.body | markdownify | remove: '<p>' | remove: '</p>' | strip }}
                {% else %}
                  {{ subitem | markdownify | remove: '<p>' | remove: '</p>' | strip }}
                {% endif %}
              </span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>